@{
    ViewData["Title"] = "Phuong";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Sí, sabes que ya llevo un rato mirándote

Tengo que bailar contigo hoy

Vi que tu mirada ya estaba llamándome

Múestrame el camino, que yo voy

Tú, tú eres el imán y yo soy el metal

Me voy acercando y voy armando el plan

Sólo con pensarlo se acelera el pulso

Ya, ya me estás gustando más de lo normal

Todos mis sentidos van pidiendo más

Esto hay que tomarlo sin ningún apuro

Despacito Quiero respirar tu cuello despacito

Deja que te diga cosas al óido

Para que te acuerdes si no estás conmigo

Despacito Quiero desnudarte a besos despacito

Firmar las paredes de tu laberinto

Y hacer de tu cuerpo todo un manuscrito

Quiero ver bailar tu pelo, quiero ser tu ritmo

Que le ensenẽs a mi boca tus lugares favoritos

Déjame sobrepasar tus zonas de peligro

Hasta provocar tus gritos y que olvides tu apellido

Si te pido un beso, ven, dámelo

Yo sé que estás pensándolo

Llevo tiempo intentándolo

Mami, esto es dando y dándolo

Sabes que tu corazón conmigo te hace "bam-bam"

Sabes que esa beba está buscando de mi "bam-bam"</p>
<p><a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a></p>

